[user]
	name = Harishwar
	email =
[core]
	excludesfile = /Users/Harishwar/.gitignore_global
	editor = subl -n -w
	autocrlf = input
	pager = diff-highlight | diff-so-fancy | less --tabs=1,5 -R
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[push]
	default = simple
